:root {
  --primary-teal: #20373f;
  --secondary-teal: #274c55;
  --box-shadow-color: #29756f;
  --form-background: #3bc0bf;
  --placeholder-color: #a0aec0;
  --font-color: #fff;
}

body {
  background-color: #20373f;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to left,
    var(--secondary-teal) 100%,
    var(--box-shadow-color) 100%
  );
  padding: 2rem 10rem;
}

.navbar-left {
  & h1 {
    font-size: 2.5rem;
    color: var(--font-color);
  }
}

.navbar-right .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;

  & .nav-link {
    & a {
      text-decoration: none;
      font-size: 1.8rem;
      color: var(--font-color);
    }

    & .premium-btn {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      cursor: pointer;
      border: none;
      font-family: "Poppins", sans-serif;
      color: var(--font-color);
      background-color: var(--box-shadow-color);
      transition: 0.3s all ease-in;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }

    & .premium-btn:hover {
      background-color: var(--primary-teal);
    }
  }
}

.nav-links .nav-link {
  position: relative;
}

.nav-links .nav-link a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: var(--font-color);
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}
.nav-links .nav-link a:hover::after {
  width: 100%;
}

.container {
  /* display: grid; */
  margin: 2rem auto;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.welcome-message {
  margin: 1rem 0;
  /* padding-left: 10rem; */
  color: #fff;
}

/* ========== Start Form Section ========== */
.expense_section {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.budget-track-form {
  width: 60rem;
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--form-background);
  box-shadow: var(--box-shadow-color) 0px 0px 15px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  & .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 5rem;
    width: 100%;
    background: var(--form-background);
    color: var(--font-color);

    & .box {
      display: flex;
      justify-content: space-between;

      & input {
        width: 70%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        outline: none;
        background-color: var(--box-shadow-color);
        border: none;
        color: var(--font-color);
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }

      #expense-amount {
        -webkit-appearance: textfield; /* Chrome/Safari */
        -moz-appearance: textfield; /* Firefox */
        appearance: textfield;
      }

      #expense-amount::-webkit-outer-spin-button,
      #expense-amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      & select {
        width: 70%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        outline: none;
        background-color: var(--box-shadow-color);
        border: none;
        color: var(--font-color);
        border-radius: 0.6rem;
      }
    }

    & button {
      width: 70%;
      margin: 0 auto;
      border: none;
      padding: 1rem;
      font-size: 1.5rem;
      background-color: var(--box-shadow-color);
      color: var(--font-color);
      text-transform: uppercase;
      margin-top: 2.5rem;
      cursor: pointer;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }
}
/* ========== End Form Section ========== */

/* ========== Start Transaction Details Section ========== */
.transaction-container {
  background-image: linear-gradient(
    to bottom,
    var(--primary-teal) 100%,
    var(--box-shadow-color) 100%
  );

  display: flex;
  padding: 1.5rem 3rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  height: 35rem;
  box-shadow: #29756f 0px 0px 15px;
  color: #fff;
  font-weight: 500;
  overflow-y: auto;
  /*to allow scrolling*/
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.transaction-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.transaction-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-header label {
  font-size: 1.3rem;
}

.transaction-header #limit {
  outline: none;
  background-color: var(--box-shadow-color);
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.transactions-list {
  width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transaction {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid var(--placeholder-color);
  padding: 1rem 0rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  & .transaction-description-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

    & .transaction-category {
      font-size: 1rem;
    }
  }

  & .transaction-date,
  & .transaction-amount {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .action {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    & .btn {
      border: none;
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      padding: 0.5rem;
      background-color: var(--box-shadow-color);
      transition: 0.3s all ease-in;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      & .fa-pen {
        color: var(--font-color);
      }

      & .fa-trash-can {
        color: #e96767;
      }
    }
    & .btn:hover {
      box-shadow: var(--font-color) 0px 0px 15px;
    }
  }
}
/* ========== End Transaction Details Section ========== */

/* ========== Start pagination Section ========== */
.pages_container {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  justify-self: flex-end;
}
.page-btn {
  border: 1px solid var(--font-color);
  background-color: var(--primary-teal);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;
  transition: 0.2s all ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}
.page-btn i::before {
  height: inherit;
  width: inherit;
}

.page-btn:active {
  transform: scale(90%);
  -webkit-transform: scale(90%);
  -moz-transform: scale(90%);
  -ms-transform: scale(90%);
  -o-transform: scale(90%);
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.curr-page {
  border: none;
  height: 3rem;
  width: 3rem;
  background-color: var(--primary-teal);
  color: var(--font-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
/* ========== End pagination Section ========== */

/* ========== Start Premium Section ========== */
/* .premium_feature {
  display: none;
} */
.leaderboard_btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--box-shadow-color);
  border: none;
  color: var(--font-color);
  cursor: pointer;
  transition: 0.3s all ease-in;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}

.leaderboard_btn:hover {
  background-color: var(--primary-teal);
}
/* ========== End Premium Section ========== */
