@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-green: #00bc2a;
  --form-background: ##f3f7ff;
  --placeholder-color: #a0aec0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 2rem 10rem;
}

.navbar-left {
  & h1 {
    font-size: 2.5rem;
  }
}

.navbar-right .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;

  & .nav-link {
    & a {
      text-decoration: none;
      font-size: 1.8rem;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  padding: 0 2rem;
}

.welcome-message {
  margin: 1rem 0;
  padding-left: 1.5rem;
  grid-column: span 3;
}

/* ========== Start Form Section ========== */
.budget-track-form {
  /*background-color: #00bc2a;
  */
  width: 60rem;
  /* margin: 5rem auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(20, 100, 20, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  & .form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
    padding: 5rem;
    width: 100%;

    & .box {
      display: flex;
      justify-content: space-between;

      & input {
        width: 70%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        outline: none;
      }

      & select {
        width: 70%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        outline: none;
      }
    }

    & button {
      width: 70%;
      margin: 0 auto;
      border: none;
      padding: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 2.5rem;
      cursor: pointer;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }
}
/* ========== End Form Section ========== */

/* ========== Start Transaction Details Section ========== */
.transaction-container {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  display: flex;
  padding: 3rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  height: 40rem;
  grid-column: span 2/4;
  overflow-y: auto;
  /*toallowscrolling*/
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.transaction-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.transactions-list {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transaction {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;

  & .transaction-description-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

    & .transaction-category {
      font-size: 1rem;
    }
  }

  & .transaction-date,
  & .transaction-amount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* ========== End Transaction Details Section ========== */
