:root {
  --primary-teal: #20373f;
  --secondary-teal: #274c55;
  --box-shadow-color: #29756f;
  --form-background: #3bc0bf;
  --placeholder-color: #a0aec0;
  --font-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--box-shadow-color);
  align-items: center;
  width: 40%;
  gap: 1rem;
  padding: 5rem 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.main-container h1 {
  font-weight: 700;
  color: var(--box-shadow-color);
  font-size: 3rem;
}
.main-container p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cta {
  display: flex;
  gap: 1.5rem;
}

.cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #20373f;
  color: var(--font-color);
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cta-btn:hover {
  background-color: var(--box-shadow-color);
}
