:root {
  --primary-teal: #20373f;
  --secondary-teal: #274c55;
  --box-shadow-color: #29756f;
  --form-background: ##f3f7ff;
  --placeholder-color: #a0aec0;
  --font-color: #fff;
}

.container {
  margin: 10rem auto;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset_password_container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
  border-radius: 1rem;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  & h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--box-shadow-color);
  }
}

.reset_password {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  gap: 1.5rem;
  /* align-items: center; */
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.form-group .new_password,
.form-group .confirm_new_password {
  width: 60%;
  padding: 0.5rem 1rem;
  outline: none;
}

.form-group .new_password:focus,
.form-group .confirm_new_password:focus {
  box-shadow: var(--box-shadow-color) 0px 0px 7px 0px;
  border: none;
  outline: none;
}

.reset_password button {
  margin-top: 2rem;
  width: 60%;
  align-self: center;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--box-shadow-color);
  color: var(--font-color);
  cursor: pointer;
}

.hidden {
  display: none;
}
