@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  background-image: linear-gradient(to right, #b6cefa, #b3d9dc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-form {
  width: 80rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 3fr 4fr;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.section-form--details {
  background-color: #f3f7ff;
  padding: 3rem;

  & h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  & h1 {
    font-size: 4rem;
  }

  & p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  & .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 100%;

    & .user-detail {
      position: relative;
      margin-bottom: 1.5rem;
      width: inherit;

      & input {
        font-size: 1.5rem;
        padding: 1rem 1rem 1rem 2.5rem;
        width: 100%;
        outline: none;
        border: 1px solid #e2e8f0;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }

      & label {
        font-size: 1.5rem;
        position: absolute;
        left: 2.5rem;
        top: 50%;
        color: #a0aec0;
        transition: 0.2s all ease-in;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transition: 0.2s all ease-in;
        -moz-transition: 0.2s all ease-in;
        -ms-transition: 0.2s all ease-in;
        -o-transition: 0.2s all ease-in;
      }

      & .fa-solid {
        color: #a0aec0;
        position: absolute;
        left: 0.5rem;
        top: 50%;
        font-size: 1.5rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
}

.form .user-detail input:not(:placeholder-shown) ~ label,
.form .user-detail input:focus ~ label {
  top: -0.1rem; /* Move the label up outside the input field */
  font-size: 12px;
  color: #4c51bf;
}
.section-form--img {
  overflow: hidden;
}

.section-form--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section-form .form button {
  width: 100%;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  background-color: #89b78e;
  /* background-color: #68b372; */
  border: none;
  margin-top: 2rem;
  padding: 0.8rem 0;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
}

.section-form .form button:hover {
  background-color: #68b372;
}
